/* color palette from <https://github.com/vuejs/theme> */
:root {
  --base-dark-color: #000000;
  --base-light-color: #FFFFFF;
  --base-border-color: #B7A261;
  --base-background-color: #FEF6DD;
  --base-contact-background-color: #D9D9D9;
  --base-item-background-color: #F9F6EA;
  --color-one:#4CAF50;
  --color-two:#3e8e41;
  --color-four:#403D22;
  --color-five:#b59b56;
  --color-six:#333;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--base-background-color);
  --color-background-soft: var(--base-background-color);
  --color-background-mute: var(--base-background-color);

  --color-border: var(--base-border-color);
  --color-border-hover: var(--base-border-color);

  --color-heading: var(--base-dark-color);
  --color-text: var(--base-dark-color);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--base-background-color);
    --color-background-soft: var(--base-background-color);
    --color-background-mute: var(--base-background-color);

    --color-border: var(--base-dark-color);
    --color-border-hover: var(--base-dark-color);

    --color-heading: var(--base-dark-color);
    --color-text: var(--base-dark-color);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
